rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 1. السماح للجميع بالقراءة
    // 2. الكتابة للمستخدمين المسجلين فقط
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}